@using OpenMvcPluginFramework;
@using System.Web.Mvc.Html
@inherits System.Web.Mvc.WebViewPage

@{
    ViewBag.Title = "Calendar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>Coming Soon...</p>
