@using OpenMvcPluginFramework;

@{
    ViewBag.Title = "WebDashboard - OpenMvcPluginFramework Example Project";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="left">
    <h3 class="frontpage_heading">Calendar</h3>
    <p class="frontpage_text">You are overwhelmed by our appointments. Then use calendar functionailty to manage your appointments.</p>
</div>
<div id="right">
    <h3 class="frontpage_heading">Blog</h3>
    <p class="frontpage_text">You want to share some information with the community. Then use the blog functionality to share your information.</p>
</div>
<div id="middle">
    <h3 class="frontpage_heading">Photos</h3>
    <p class="frontpage_text">You want to share some photos with the community. Then use the photos functionaility to share your photos.</p>
</div>