@using System.Web.Mvc.Html
@inherits System.Web.Mvc.WebViewPage

@*<script type="text/javascript" src="~/Content/Scripts/jquery.js"></script>
<script type="text/javascript" src="~/Content/Scripts/fancybox/jquery-1.3.2.min.js"></script>*@

<script type="text/javascript">
$(function () {
    $('#slideshowleft').cycle({
        timeout: 5000,
        fx: 'fade',
        pager: '#pager',
        pause: 0,
        pauseOnPagerHover: 0
    });
    $('#slideshowright').cycle({
        timeout: 5000,
        fx: 'fade',
        pager: '#pager',
        pause: 0,
        pauseOnPagerHover: 0
    });
});
</script>

<div id="screen">
    <div id="slideshowleft">
        <img src="~/Images/slide1.jpg" alt="" class="slidehalf"  />
        <img src="~/Images/slide2.jpg" alt="" class="slidehalf"  />
        <img src="~/Images/slide3.jpg" alt="" class="slidehalf"  />  
        <img src="~/Images/slide4.jpg" alt="" class="slidehalf"  />    
    </div>
    <div id="slideshowright">
        <img src="~/Images/slide4.jpg" alt="" class="slidehalf"  />
        <img src="~/Images/slide3.jpg" alt="" class="slidehalf"  />
        <img src="~/Images/slide2.jpg" alt="" class="slidehalf"  />  
        <img src="~/Images/slide1.jpg" alt="" class="slidehalf"  />    
    </div>
  </div>